<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    {% block content %}


    <h1>{{post.title}}</h1>
    <h2>{{post.category}}|{{post.date}}</h2>
    <h3>{{post.description}} </h3>
    <form method="POST" action="{% url 'blog:current' post.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button>Submit</button>
    </form>

    <h4>
        {% for coment in coments %}


        {% if coment.postnumer == post.pk %}
        {{coment.content}}
        {% endif %}
        {% endfor %}
    </h4>
    {% endblock %}
</body>

</html>